/h1 This is the Tickets/Sorta/Admin console
/br
/-@currenttags.each do |tag|
  /= tag.name
  /br
/h1 Add a tag
  /p not now 
/= simple_form_for Tag.new, :url => tagadmin_index_path do |f|
    /= f.input :name
    /= f.button :submit
